{% extends 'base.html.twig' %}

{% block title %}{{ centro.centro }} {{ g_seo_end }}{% endblock %}

{% block body %}

<h1>{{ asignatura.asignatura }} en {{ curso.curso }} del {{ centro.centro }}</h1>

<h2>Temas de {{ asignatura.asignatura }}:</h2>

{% if idRelac %}
    <ul>
    <ul>
    {% for data in idRelac %}
      {{ render(controller(
      'App\\Controller\\HomeController::temasAsignaturas', {
        'idRelaciones': data.id
      }
      ))}}
    {% endfor %}
    </ul>
    </ul>
  {% else %}
     <p>No hay temas de este curso aún publicado</p>
  {% endif %}

{% endblock %}
