{% extends 'base.html.twig' %}

{% block title %}{{ title }} {{ g_seo_end }}{% endblock %}

{% block body %}

<h2>Actualmente hay {{ centros|length }} centros en nuestro directorio</h2>

  <ul id="ulcss">
  {% for data in centros %}

  <li><a href="{{ data.slug }}">{{ data.centro }}</a>
    <ul>
      {{ render(controller(
      'App\\Controller\\HomeController::cursosCentro',
      { 'idCentro': data.idCentro }
      ))}}
    </ul>
  </li>

  {% endfor %}

  </ul>


<div class="aparto">
Estás en la página: {{ page }}

<div class="jumbotron">asd</div>

</div>


{% endblock %}
