
<table class="table table-striped">
<thead>
    <tr>
      <th scope="col">Infinitive</th>
      <th scope="col">Past</th>
      <th scope="col">Past participle</th>
      <th scope="col">Spanish</th>
    </tr>
</thead>
<tbody>


  {% for data in iv %}
  <tr>
      <th scope="row">{{ data.infinitive }}</th>
      <td>
        <input type="text" id="simplePast_{{loop.index}}" onkeyup="comprobarValores('simplePast_{{loop.index}}','{{ data.simplePast }}');"><div class="response" id="simplePast_{{loop.index}}_response"></div>
      </td>
      <td>
      <input type="text" id="pastParticiple_{{loop.index}}" onkeyup="comprobarValores('pastParticiple_{{loop.index}}','{{ data.pastParticiple }}');"><div class="response" id="pastParticiple_{{loop.index}}_response"></div>
      </td>
      <td>
      <input type="text" id="spanish_{{loop.index}}" onkeyup="comprobarValores('spanish_{{loop.index}}','{{ data.spanish }}');"><div class="response" id="spanish_{{loop.index}}_response"></div>
      </td>
    </tr>
    <tr>
        <th scope="row">{{ data.infinitive }}</th>
        <td>{{ data.simplePast }}_{{loop.index}}</td>
        <td>{{ data.pastParticiple }}</td>
        <td>{{ data.spanish }}</td>
      </tr>
  {% endfor %}
</tbody>
</table>
